body {
    background-color: #0d1117;
    margin: 0;
    color: #c9d1d9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
}

div {
    box-sizing: border-box;
}


input,
select,
textarea {
    padding: 5px 12px;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    color: #c9d1d9;
    outline: none;
    box-shadow: 0 0 transparent;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #58a6ff;
    box-shadow: 0 0 0 3px rgba(88, 166, 255, 0.3);
}


button {
    color: #c9d1d9;
    background-color: #21262d;
    border: 1px solid rgba(240, 246, 252, 0.1);
    border-radius: 6px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
}

button:hover {
    background-color: #30363d;
    border-color: #8b949e;
}


.gh-box {
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 16px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

@keyframes bouncy {
    0% {
        transform: scale(1) rotate(0deg) translateY(0);
    }

    40% {
        transform: scale(1.1) rotate(var(--tilt)) translateY(-15px);
    }

    100% {
        transform: scale(1) rotate(0deg) translateY(0);
    }
}


@keyframes dropIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    60% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

.drop-in {
    animation: dropIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bouncy-click {
    animation: bouncy 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.expand-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-out, margin-top 0.4s ease;
    margin-top: 0;
}

.expand-content.open {
    max-height: 2000px;
    opacity: 1;
    margin-top: 15px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@media (max-width: 600px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .gh-box {
        margin: 10px;
        width: auto;
    }
}